.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 280px;
  top: 90px;
  box-shadow: 3px 0px 19px rgba(0, 0, 0, 0.15);
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    &-options {
      padding-top: 44px;
    }

    &-footer {
      height: 50px;
      background-color: #5D5FEF;
      display: flex;
      align-items: center;
      padding: 13px;
      justify-content: center;
      align-self: end;
      &:hover {
        cursor: pointer;
      }
    }
  }

  @media screen and (max-width: 630px) {
    display: none;
    &-open {
      display: block;
      background-color: #fff;
    }
    .fill {
      display: block;
    }
  }
}